[Unit]
Description=Instance to mediadrop
Requires=network.target
After=network.target

[Service]
User=root
Group=root
RemainAfterExit=yes
WorkingDirectory=__FINALPATH__
Environment="PATH=__FINALPATH__venv/bin"
ExecStart=__FINALPATH__/venv/bin/paster serve --reload __FINALPATH__deployment.ini
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always
StandardError=syslog

[Install]
WantedBy=multi-user.target