[Unit]
Description=uWSGI instance to mediadrop
Requires=network.target
After=network.target

[Service]
#User=www-data
#Group=www-data
RemainAfterExit=yes
WorkingDirectory=__FINALPATH__
Environment="PATH=__FINALPATH__venv/bin"
ExecStart=/usr/bin/uwsgi --ini /var/www/mediadrop/deployment.ini
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always
StandardError=syslog

[Install]
WantedBy=multi-user.target