[Unit]
Description=Instance to mediadrop
Requires=network.target
After=network.target

[Service]
User=__APP__
Group=__APP__
RemainAfterExit=yes
WorkingDirectory=__FINALPATH__/
Environment="PATH=__FINALPATH__/venv/bin"
ExecStart=__FINALPATH__/venv/bin/paster serve --reload __FINALPATH__/deployment.ini >> /var/log/__APP__/__APP__.log 2>&1
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always
StandardError=syslog

[Install]
WantedBy=multi-user.target