[Unit]
Description=uWSGI instance to mediadrop
Requires=network.target
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
RemainAfterExit=yes
WorkingDirectory=__FINALPATH__/
Environment="__YNH_PYTHON_LOAD_PATH__"
ExecStart=__YNH_PYTHON_PATH__/uwsgi --ini-paste __FINALPATH__/deployment.ini
Restart=always
StandardError=syslog

[Install]
WantedBy=multi-user.target
